.recalculating {
  opacity: 1.0;
}

.selectize-input, .selectize-dropdown {
  font-size: 80% !important;
}

.checkbox {
  margin-bottom: 1.5em;
}

.btn-default {
    border: 1px solid darkslategray;
    background-color: lightgray
}

.btn-default:hover {
  border: 1px solid gray;
  background-color: lightblue;
}

.multi-wrapper a {
  text-decoration: none;
}

.btn-select {
  font-size: 0.9em;
  text-wrap: wrap;
}

.shiny-input-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.year-input .shiny-input-container {
  width: 100% !important;
}

.mw-1500 {
  max-width: 1800px;
  margin-left: 0px !important;
}

.divider-top {
  height: 100px !important;
}